body {
    background-color: var(--main-background);
    font-family: 'Source Code Pro', monospace;
    color: var(--primary);
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: solid 2px var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    font-size: 20px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.name-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 75px;
}

.name {
    font-size: 52px;
    margin-top: 0px;
}

#aboutme {
    width: 600px;
    border: solid 1px var(--primary);
    padding: 25px;
    text-align: left;
    margin-top: 20px;
    border-radius: 5px;
    line-height: 30px;
    background-color: var(--text-background);
    font-size: 20px;
}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: solid 1px var(--primary);
}

.portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
    margin-bottom: 60px;
}

.portfolio-content {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.end-wrap {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    border-top: solid 2px var(--primary);
}

footer {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


/* apply drop shadow effect and scale when cursor hovers over .work */

.work:hover {
    filter: drop-shadow(5px 5px 5px var(--shadow));
    transition: all 1s;
    transform: scale(1);
    cursor: pointer;
}


/* add styling to customize links */

a:link {
    color: var(--primary);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--primary);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: dashed;
}

a:active {
    color: #4b4a49;
    background-color: transparent;
    text-decoration: underline;
}


/* add media query to make site responsive when changing size */

@media screen and (max-width:1024px) {
    .wrapper,
    .portfolio-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .work {
        padding: 30px;
    }
    .name-photo {
        margin: 0 auto;
    }
}


/* add styling for dark mode toggle switch */

.switch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch div {
    position: relative;
    display: block;
    background: #eee;
    width: 30px;
    border-radius: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-adjust {
    transform: rotate(180deg);
}

.switch input {
    display: none;
}

.slider {
    background-color: #999;
    transition: 0.4s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
}

input:checked+.slider {
    transform: translateX(8px);
}


/* set root colors & dark mode colors */

:root {
    --main-background: rgb(205, 197, 198);
    --primary: black;
    --text-background: beige;
    --shadow: rgb(43, 42, 42);
}

.dark-mode {
    --primary: beige;
    --main-background: rgb(62, 23, 62);
    --text-background: rgb(108, 80, 108);
    --shadow: rgb(104, 68, 104);
}

.last {
    padding-top: 20px;
    font-style: italic;
}