
body {
    background-color: pink;
    font-family: 'Special Elite', cursive;
    color: black;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

header {
    position:fixed;  
    width: 75%;
    margin: 0 auto;
    padding: 45px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    line-height: 1em;
}

/* set wrapper to contain and center all of it's children*/

#name {
    font-size:large;
    font-weight: 80;
}

.page-wrapper {
    width: 75%;
    margin: 0 auto;
}

.statement-photo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#aboutme {
    background-color: antiquewhite;
    padding: 20px;
    text-align: justify;
}

/* give photo border radius to form circle and position/center next to name */

.photo {
    border-radius: 50%;
    width: 275px;
    height: 275px;
}


/* use pseudo class to apply a drop shadow when cursor hovers over .card-catalog */

.card-catalog:hover {
    filter: drop-shadow(10px 10px 10px black);
    transition: all 2s;
}


/* wrap .card-catalog .label and .knob to unify position */
/* .card-catalog-wrapper {
    display: flex;
    width: auto;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.card-catalog {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: inherit;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: rgb(231, 170, 15);
    border: solid 1px rgb(114, 84, 7);
    filter: drop-shadow(5px 5px 5px black);
}

.label {
    margin-top: 35px;
    width: 226px;
    height: 85px;
    background-color: cornsilk;
    border: solid 10px #f2be48;
    text-align: center;
}

.knob {
    width: 60px;
    height: 60px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: rgb(231 170 15);
    filter: drop-shadow(3px 3px 3px black);
} */

.portfolio-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-content {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.work {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: antiquewhite;
    font-family: 'Special Elite', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* apply drop shadow effect when cursor hovers over .work */

.work:hover {
    filter: drop-shadow(5px 5px 5px black);
    transition: all 1s;
    transform: scale(1.5);
}

footer {
    height: 50px;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    color: black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}


/* add styling to keep all links from changing color */

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #d59006;
    background-color: transparent;
    text-decoration: dashed;
}

a:active {
    color: #4b4a49;
    background-color: transparent;
    text-decoration: underline;
}

@media screen and (max-width:1050px) {
    .portfolio-content {
        flex-direction: column;
    }
}